/* @import "custom"; */
@import "./partials/_guide.scss";
@import "./partials/_furtheraction.scss";

//Custom
$colour-secondary: #c7c7c7;
$colour-input: #ffffff;
$colour-white: #ffffff;
$colour-primary: #e92569;
$colour-light: #efefef;
$colour-black: #0a0a0a;
$colour-gray: #767676;
//bootstrap
$theme-colors: ( "primary": $colour-primary, "dark": $colour-gray, "light": $colour-light, "info": $colour-secondary, );
$input-bg: $colour-input;
$input-border-colour: $colour-input;
$border-radius: 2px;
//input plaseholder
$input-placeholder-color: #fff;
$input-placeholder-color: #fff;
//fonts
$font-family-base: 'Lato',
sans-serif;
$heading-font-family: 'Playfair Display',
serif;
$logo-font-family: 'Playfair Display',
serif;
$headings-colour: $colour-primary;
@import "~bootstrap/scss/bootstrap";
@import "./partials/forms";
@import "./partials/footer";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/home";
@import "./partials/checks";
@import "./partials/footer";
@import "./partials/action";
@import "./partials/login";
@import "./partials/register";