.feature {
  text-align: center;
}

.feature-icon {
  margin-bottom: 15px;
}

.important-information-container {
  border: 1px solid rgba(222, 226, 230, 1);
  max-width: 650px;
  margin: auto;
}

.important-information-container p {
  background-color: rgba(199, 32, 58, 1);
  color: white;
  font-size: 1.1rem;
  padding: 10px;
}

.important-information-container li {
  padding: 0 10px;
}