body {
    background-color: #F6EFEF;
    font-family: 'Marcellus', serif;
    font-weight: 100;
    height: 100vh;
}

.fab.fa-google {
    color: rgb(4, 0, 253);
}

a.btn.text-center.border.px-4 {
    background-color: rgb(255, 255, 255);
}

a.btn.text-center.border.px-4:hover {
    background-color: #C4C4C4;
}

a.btn.text-center.border.px-4:hover {
    color: rgb(4, 0, 253);
}

.text-center.my-5 {
    color: #AA3196;
    font-size: 35px;
}

.text-center.mt-5.mb-2 {
    color: #AA3196;
    font-weight: 100;
}