#step2, #step3 {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#step1 {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.text-btn {
    min-height: 100%;
}

.instructions {
    min-height: 144px;
}

.next {
    margin-top: 90px;
}

.next a {
    width: 100px;
}